@using PagedList;
@using PagedList.Mvc;

@model IPagedList<BookStore_Web_.Models.Absence_Table>
@{
    ViewBag.Title = "IndexPartial";
}
<table class="table table-bordered table-hover">
    @*<thead>
        <tr>
            <th>@Html.ActionLink(@Html.DisplayNameFor(model => model.First().Absence_No).ToHtmlString(), "Index", new { sortBy = ViewBag.SortAbsenceTableNo })</th>
            <th>@Html.ActionLink(@Html.DisplayNameFor(model => model.First().Absence_Type.Absence_Type1).ToHtmlString(), "Index", new { sortBy = ViewBag.SortAbsence_Type })</th>
            <th>@Html.ActionLink(@Html.DisplayNameFor(model => model.First().StartDate).ToHtmlString(), "Index", new { sortBy = ViewBag.StartDate })</th>
            <th>@Html.ActionLink(@Html.DisplayNameFor(model => model.First().EndDate).ToHtmlString(), "Index", new { sortBy = ViewBag.EndDate })</th>
            <th>@Html.ActionLink(@Html.DisplayNameFor(model => model.First().Reason).ToHtmlString(), "Index", new { sortBy = ViewBag.Reason })</th>
            <th>@Html.DisplayNameFor(model => model.First().Certificate_Doc)</th>
            <th>@Html.ActionLink(@Html.DisplayNameFor(model => model.First().ChechStatus.Status).ToHtmlString(), "Index", new { sortBy = ViewBag.Status })</th>
            <th>編輯</th>
            <th>刪除</th>
        </tr>
    </thead>*@
    <tbody>
        @*Model是一個保留字，代表Controller傳過來的資料*@
        @*但是Model是什麼類型的資料，我們不知道?如果要知道Model是什麼類型的資料，要看最上面的宣告*@
        @foreach (var _Absence in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => _Absence.Absence_No)</td>
                <td>@Html.DisplayFor(p => _Absence.Absence_Type.Absence_Type1)</td>
                <td>@Html.DisplayFor(p => _Absence.StartDate)</td>
                <td>@Html.DisplayFor(p => _Absence.EndDate)</td>
                <td>@Html.DisplayFor(p => _Absence.Reason)</td>
                <td><image alt="AbsenceTable image" title="AbsenceImage" class="thumb" src="@Url.Action("GetImage", new { id = _Absence.Absence_No })"></image></td>
                <td>@Html.DisplayFor(p => _Absence.ChechStatus.Status)</td>
                <td><a href="/AbsenceTable/Edit/@_Absence.Absence_No" class="btn btn-warning">編輯</a></td>
                <td><a href="/AbsenceTable/Delete/@_Absence.Absence_No" class="btn btn-danger">刪除</a></td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page}),
                         PagedListRenderOptions.ClassicPlusFirstAndLast)
