@using PagedList;
@using PagedList.Mvc;
@model IPagedList<BookStore_Web_.Models.Absence_Table>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminPage.cshtml";
}
<style>
    .thumb{
        width:120px;
        height:90px;
        border:solid 1px black;
    }
</style>
<link href="~/Content/PagedList.css" rel="stylesheet" />

<h2>請假單</h2>
<div>
    <label>篩選:</label>
    <select id="sel1"></select>
    <select id="sel2"></select>
</div>
<div>
    <label>正向排序:</label>
    <select id="sel3">
        <option value="">--請選擇--</option>
        <option value="@ViewBag.SortAbsenceTableNo">@Html.DisplayNameFor(model => model.First().Absence_No).ToHtmlString()</option>
        <option value="@ViewBag.SortAbsence_Type">@Html.DisplayNameFor(model => model.First().Absence_Type.Absence_Type1).ToHtmlString()</option>
        <option value="@ViewBag.StartDate">@Html.DisplayNameFor(model => model.First().StartDate).ToHtmlString()</option>
        <option value="@ViewBag.EndDate">@Html.DisplayNameFor(model => model.First().EndDate).ToHtmlString()</option>
        <option value="@ViewBag.Reason">@Html.DisplayNameFor(model => model.First().Reason).ToHtmlString()</option>
        <option value="@ViewBag.Status">@Html.DisplayNameFor(model => model.First().ChechStatus.Status).ToHtmlString()</option>
    </select>
    <label>反向排序:</label>
    <select id="sel4">
        <option value="">--請選擇--</option>
        <option value="@ViewBag.SortAbsenceTableNoDesc">@Html.DisplayNameFor(model => model.First().Absence_No).ToHtmlString()</option>
        <option value="@ViewBag.SortAbsence_TypeDesc">@Html.DisplayNameFor(model => model.First().Absence_Type.Absence_Type1).ToHtmlString()</option>
        <option value="@ViewBag.StartDateDesc">@Html.DisplayNameFor(model => model.First().StartDate).ToHtmlString()</option>
        <option value="@ViewBag.EndDateDesc">@Html.DisplayNameFor(model => model.First().EndDate).ToHtmlString()</option>
        <option value="@ViewBag.ReasonDesc">@Html.DisplayNameFor(model => model.First().Reason).ToHtmlString()</option>
        <option value="@ViewBag.StatusDesc">@Html.DisplayNameFor(model => model.First().ChechStatus.Status).ToHtmlString()</option>
    </select>
</div>

<a href="/AbsenceTable/Add">新增假單</a>
<div></div>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.ActionLink(@Html.DisplayNameFor(model => model.First().Absence_No).ToHtmlString(), "Index", new { sortBy = ViewBag.SortAbsenceTableNo })</th>
            <th>@Html.ActionLink(@Html.DisplayNameFor(model => model.First().Absence_Type.Absence_Type1).ToHtmlString(), "Index", new { sortBy = ViewBag.SortAbsence_Type })</th>
            <th>@Html.ActionLink(@Html.DisplayNameFor(model => model.First().StartDate).ToHtmlString(), "Index", new { sortBy = ViewBag.StartDate })</th>
            <th>@Html.ActionLink(@Html.DisplayNameFor(model => model.First().EndDate).ToHtmlString(), "Index", new { sortBy = ViewBag.EndDate })</th>
            <th>@Html.ActionLink(@Html.DisplayNameFor(model => model.First().Reason).ToHtmlString(), "Index", new { sortBy = ViewBag.Reason })</th>
            <th>@Html.DisplayNameFor(model => model.First().Certificate_Doc)</th>
            <th>@Html.ActionLink(@Html.DisplayNameFor(model => model.First().ChechStatus.Status).ToHtmlString(), "Index", new { sortBy = ViewBag.Status })</th>
            <th>編輯</th>
            <th>刪除</th>
        </tr>
    </thead>
    <tbody id="div1">
        @*Model是一個保留字，代表Controller傳過來的資料*@
        @*但是Model是什麼類型的資料，我們不知道?如果要知道Model是什麼類型的資料，要看最上面的宣告*@
        @*@foreach (var _Absence in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => _Absence.Absence_No)</td>
                    <td>@Html.DisplayFor(p => _Absence.Absence_Type.Absence_Type1)</td>
                    <td>@Html.DisplayFor(p => _Absence.StartDate)</td>
                    <td>@Html.DisplayFor(p => _Absence.EndDate)</td>
                    <td>@Html.DisplayFor(p => _Absence.Reason)</td>
                    <td><image alt="AbsenceTable image" title="AbsenceImage" class="thumb" src="@Url.Action("GetImage", new { id = _Absence.Absence_No })"></image></td>
                    <td>@Html.DisplayFor(p => _Absence.ChechStatus.Status)</td>
                    <td><a href="/AbsenceTable/Edit/@_Absence.Absence_No" class="btn btn-warning">編輯</a></td>
                    <td><a href="/AbsenceTable/Delete/@_Absence.Absence_No" class="btn btn-danger">刪除</a></td>
                </tr>
            }*@
    </tbody>
</table>
@*@Html.PagedListPager(Model,
                                     page => Url.Action("Index", new { page, sortBy = Request.QueryString["sortBy"]}),
                     PagedListRenderOptions.ClassicPlusFirstAndLast)*@
<script>
    var sel = $('#sel1');
    sel.on('change', function () { selload(); })
    var sel2 = $('#sel2');
    sel2.on('change', function () { selload(); })
    var sel3 = $('#sel3');
    sel3.on('change', function () { selload(); })
    var sel4 = $('#sel4');
    sel4.on('change', function () { selload(); })
    var div = $('#div1');
    $.getJSON('@Url.Action("Dept","AbsenceTable")', {}, function (datas) {
        var opt = new Option("--所有部門--", 0);
        sel.append(opt);
        $.each(datas, function (i,Dept) {
            var opt = new Option(Dept.DeptName, Dept.DeptID);
            sel.append(opt);
        });
    });
    $.getJSON('@Url.Action("Occu","AbsenceTable")', {}, function (datas) {
        var opt = new Option("--所有職位--", 0);
        sel2.append(opt);
        $.each(datas, function (i, Occu) {
            var opt = new Option(Occu.OccuName, Occu.OccuID);
            sel2.append(opt);
        });
    });
    selload();
    function selload() {
        if (sel3.val() === "")
            div.load('/AbsenceTable/IndexPartial?Dept=' + sel.val() + '&Occu=' + sel2.val() + '&sortBy=' + sel3.val());
        else if (sel4.val() === "")
            div.load('/AbsenceTable/IndexPartial?Dept=' + sel.val() + '&Occu=' + sel2.val() + '&sortBy=' + sel4.val());
        else
            div.load('/AbsenceTable/IndexPartial?Dept=' + sel.val() + '&Occu=' + sel2.val());
    }
</script>
<script src="~/Scripts/jquery-2.2.0.min.js"></script>