@using PagedList;
@using PagedList.Mvc;
@model IPagedList<BookStore_Web_.Models.Absence_Table>
@{
    ViewBag.Title = "MIS";
    Layout = "~/Views/Shared/AdminPage.cshtml";
}

<style>
    .thumb {
        width: 120px;
        height: 90px;
        border: solid 1px black;
    }
</style>
<link href="~/Content/PagedList.css" rel="stylesheet" />

<h2>請假單查詢(網管人員專用頁面)</h2>
<div>
    <label>篩選:</label>
    <select id="sel1"></select>
    <select id="sel2"></select>
</div>
<div>
    <label>排序:</label>
    <select id="sel3">
        <option value="@ViewBag.SortAbsenceTableNo">@Html.DisplayNameFor(model => model.First().Absence_No).ToHtmlString() (正)</option>
        <option value="@ViewBag.SortAbsenceTableNoDesc">@Html.DisplayNameFor(model => model.First().Absence_No).ToHtmlString() (逆)</option>
        <option value="@ViewBag.SortAbsence_Type">@Html.DisplayNameFor(model => model.First().Absence_Type.Absence_Type1).ToHtmlString() (正)</option>
        <option value="@ViewBag.SortAbsence_TypeDesc">@Html.DisplayNameFor(model => model.First().Absence_Type.Absence_Type1).ToHtmlString() (逆)</option>
        <option value="@ViewBag.SortStartDate">@Html.DisplayNameFor(model => model.First().StartDate).ToHtmlString() (正)</option>
        <option value="@ViewBag.SortStartDateDesc">@Html.DisplayNameFor(model => model.First().StartDate).ToHtmlString() (逆)</option>
        <option value="@ViewBag.SortStatus">@Html.DisplayNameFor(model => model.First().ChechStatus.Status).ToHtmlString() (正)</option>
        <option value="@ViewBag.SortStatusDesc">@Html.DisplayNameFor(model => model.First().ChechStatus.Status).ToHtmlString() (逆)</option>
    </select>
</div>

<div></div>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Absence_No).ToHtmlString()</th>
            <th>@Html.DisplayNameFor(model => model.First().Emp_Information.Emp_Name).ToHtmlString()</th>
            <th>@Html.DisplayNameFor(model => model.First().Emp_Information.Emp_DeptID).ToHtmlString()</th>
            <th>@Html.DisplayNameFor(model => model.First().Absence_Type.Absence_Type1).ToHtmlString()</th>
            <th>@Html.DisplayNameFor(model => model.First().StartDate).ToHtmlString()</th>
            <th>@Html.DisplayNameFor(model => model.First().EndDate).ToHtmlString()</th>
            <th>@Html.DisplayNameFor(model => model.First().Reason).ToHtmlString()</th>
            <th>@Html.DisplayNameFor(model => model.First().Certificate_Doc)</th>
            <th>@Html.DisplayNameFor(model => model.First().ChechStatus.Status).ToHtmlString()</th>
            <th>接受</th>
            <th>拒絕</th>
            <th>編輯</th>
            <th>刪除</th>
        </tr>
    </thead>
    <tbody id="div1"></tbody>
</table>
<div id="mypager">
    @Html.PagedListPager(Model, page => "#",
                     PagedListRenderOptions.PageNumbersOnly)
</div>


<script>

    var sel = $('#sel1');
    sel.on('change', function () { selload($('#mypager').children().children().children(".active").children('a').text()); })
    var sel2 = $('#sel2');
    sel2.on('change', function () { selload($('#mypager').children().children().children(".active").children('a').text()); })
    var sel3 = $('#sel3');
    sel3.on('change', function () { selload($('#mypager').children().children().children(".active").children('a').text()); })
    var div = $('#div1');
    var pager = $('#mypager');
    pager.on('click','a', function () { selload($(this).text()); })
    $.getJSON('@Url.Action("Dept","AbsenceMIS")', {}, function (datas) {
        var opt = new Option("--所有部門--", 0);
        sel.append(opt);
        $.each(datas, function (i,Dept) {
            var opt = new Option(Dept.DeptName, Dept.DeptID);
            sel.append(opt);
        });
    });
    $.getJSON('@Url.Action("Occu","AbsenceMIS")', {}, function (datas) {
        var opt = new Option("--所有職位--", 0);
        sel2.append(opt);
        $.each(datas, function (i, Occu) {
            var opt = new Option(Occu.OccuName, Occu.OccuID);
            sel2.append(opt);
        });
    });
    selload();
    function selload(e) {
        div.load('/AbsenceMIS/MISPartial?Dept=' + sel.val() + '&Occu=' + sel2.val() + '&sortBy=' + sel3.val() + '&page=' + e);
        pager.load('/AbsenceMIS/MISPager?Dept=' + sel.val() + '&Occu=' + sel2.val() + '&sortBy=' + sel3.val() + '&page=' + e);
    }    
</script>
<script src="~/Scripts/jquery-2.2.0.min.js"></script>

